<!--
  Generated template for the ConnexionPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- -->
<!-- <ion-header class="animated fadeIn no-shadow">
    <ion-navbar class="no-border thirds-op" color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      </ion-navbar>
    </ion-header> -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-white" no-margin>
        <strong>DamayDem</strong>.Com
      </h2>
    </div>
    <br /><br />
    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-row>
        <ion-col class="col-lg-12 col-md-8 col-sm-20 col-xs-12 no-paddingT no-paddingB">
          <div class="guests bb">
            <ion-item>
              <ion-input type="telephone" placeholder="Numéro de téléphone" formControlName="telephone" value="" [(ngModel)]="login.numtel"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('telephone').touched && onLoginForm.get('telephone').hasError('required')">Ce champ est obligatoire</p>
          </div>
        </ion-col>
      </ion-row>
      <br />
      <ion-row>
        <ion-col class="col-lg-12 col-md-8 col-sm-20 col-xs-12 no-paddingT no-paddingB">
          <div class="guests bb">
            <ion-item>
              <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="login.motdepass" formControlName="password"> 
              </ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">Ce champ est obligatoire</p>
          </div>
        </ion-col>
      </ion-row>
      <p ion-text color="danger">{{messageerreur}}</p>
    </form>

 
    <p text-right ion-text color="light" tappable (click)="forgotPass()">
      <strong>Mot de Pass Oublié ?</strong>
    </p>

    <div>
      <button ion-button icon-start outline block color="light" tappable (click)="Connexion()">
        <ion-icon name="log-in"></ion-icon>
        CONNEXION
      </button>
      <button ion-button icon-start outline block color="light" tappable (click)="Inscription()">
        <ion-icon name="log-in"></ion-icon>
        CREER UN COMPTE
      </button>
      <br/>
      <p text-center (click)="goToJaayauto()" style="color : white; font-weight: bold;text-align: center">Continuer en tant qu'invité </p>

      
      <p text-center ion-text color="light">Suivez nous sur </p>
      <ion-grid class="btn-group">
        <ion-row>
          <button ion-button icon-only block class="btn-facebook col col-4">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button ion-button icon-only block class="btn-twitter col col-4">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
          <button ion-button icon-only block class="btn-gplus col col-4">
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>